/* .custom-file-input .custom-file-control:lang(ru)::after {
    content: "Выбрать";
} */

.custom-file-label::after {
    content: '...' !important;
}

li {
    display: inline;
    /* border: 1px solid #eee; */
}

li:hover {
    background-color: #f8f9fa;
}